<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet" href="/css/add-user.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
    <header>
        <h1>Welcome, <%= user ? user.name : 'Guest' %>
        </h1>
        <% if (user && user.role==='admin' ) { %>
            <p>Role: <%= user.role %>
            </p>
            <% } %>
    </header>

    <nav>
        <ul>
            <li><a href="/dashboard" class="nav-link">Trang chủ</a></li>
            <% if (user && user.role==='admin' ) { %>
                <li class="reports-menu">
                    <a href="#" class="nav-link">Admin</a>
                    <ul class="sub-menu">
                        <li><a href="/users" class="nav-link">Quảng trị người dùng</a></li>
                        <li><a href="/qr" class="nav-link">Tạo QR</a></li>
                    </ul>
                </li>
                <% } %>
                    <li class="reports-menu">
                        <a href="#" class="nav-link">Báo Cáo</a>
                        <ul class="sub-menu">
                            <li><a href="/reports/view" class="nav-link">Báo Cáo Tháng</a></li>
                            <li><a href="/reports/aggregated" class="nav-link">Báo Cáo Tổng Hợp</a></li>
                        </ul>
                    </li>
                    <li><a href="/user/change-password" class="nav-link">Đổi mật khẩu</a></li>
                    <li><a href="/logout" class="logout-btn">Đăng xuất</a></li>
        </ul>
    </nav>
    </dialog>
    <!-- Hộp thoại thông báo lỗi -->
    <dialog id="errDialog">
        <div id="modificationDetails">
            <i class="fas fa-exclamation-triangle" style="color: red; font-size: 30px;"></i>
            <h2>🔔 Thông Báo Lỗi:</h2>
            <p id="error"></p>
            <button id="closeDialog">Đóng</button>
        </div>
    </dialog>
    <dialog id="successfullyDialog">
        <div class="notification">
            <h2>🔔 Thông Báo:</h2>
            <p id="notificationSS">Không có lỗi nào!</p>
            <button id="closeDialogSS">Đóng</button>
        </div>
    </dialog>

    <dialog id="confirmDialog">
        <p>Bạn có chắc chắn muốn xóa người dùng này không?</p>
        <button id="confirmYes">Xóa</button>
        <button id="confirmNo">Không</button>
    </dialog>
    <h2>Thêm người dùng mới</h2>
    <div class="form-container">
        <form action="/add-user" method="POST">
            <div class="form-group">
                <label for="name">Tên:</label>
                <input type="text" name="name" required>
            </div>
            <div class="form-group">
                <label for="username">Tài Khoản:</label>
                <input type="text" name="username" required>
            </div>
            <div class="form-group">
                <label for="role">Vai Trò:</label>
                <select name="role" required>
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
            <div class="form-group">
                <label for="password">Mật Khẩu:</label>
                <input type="password" name="password" required>
            </div>
            <div class="form-actions">
                <button type="submit">Thêm</button>
            </div>
        </form>
    </div>

    <h2>Danh sách Người dùng</h2>
    <table>
        <thead>
            <tr>
                <th>Tên</th>
                <th>Tài Khoản</th>
                <th>Vai Trò</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            <% if (Array.isArray(users) && users.length> 0) { %>
                <% users.forEach(usr=> { %>
                    <tr>
                        <td>
                            <%= usr.name %>
                        </td>
                        <td>
                            <%= usr.username %>
                        </td>
                        <td>
                            <%= usr.role %>
                        </td>
                        <td>
                            <button onclick="toggleEditForm('<%= usr._id %>')">Sửa</button>
                            <!-- Thay đổi nút xóa để hiển thị hộp thoại xác nhận -->
                            <button type="button" onclick="showDeleteConfirmation('<%= usr._id %>')">Xóa</button>

                            <!-- Form xóa người dùng -->
                            <form action="/delete-user/<%= usr._id %>" method="POST" style="display:none;">
                                <button type="submit">Xóa</button>
                            </form>

                            <form action="/edit-user/<%= usr._id %>" method="POST" id="edit-form-<%= usr._id %>"
                                class="edit-form">
                                <label for="name">Tên:</label>
                                <input type="text" name="name" value="<%= usr.name %>" required><br>
                                <label for="username">Tài Khoản:</label>
                                <input type="text" name="username" value="<%= usr.username %>" required><br>
                                <label for="role">Vai Trò:</label>
                                <select name="role" required>
                                    <option value="admin" <%=usr.role==='admin' ? 'selected' : '' %>>Admin</option>
                                    <option value="user" <%=usr.role==='user' ? 'selected' : '' %>>User</option>
                                </select><br>
                                <label for="password">Mật khẩu mới (để trống để giữ nguyên):</label>
                                <input type="password" name="password"><br>
                                <button type="submit">Lưu</button>
                            </form>
                        </td>

                    </tr>
                    <% }) %>
                        <% } else { %>
                            <tr>
                                <td colspan="4">Không có người dùng nào</td>
                            </tr>
                            <% } %>
        </tbody>
    </table>

    <script src="../js/users.js"></script>
</body>

</html>