<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
    <header>
        <h1>Welcome, <%= user.name %>
        </h1>
        <% if (user.role==='admin' ) { %>
            <p>Role: <%= user.role %>
            </p>
            <% } %>

    </header>

    <!-- Dashboard Menu -->
    <nav>
        <ul>
            <li><a href="/dashboard" class="nav-link">Trang chủ</a></li>
            <% if (user.role==='admin' ) { %>
                <li><a href="/add-user" class="nav-link">Thêm User</a></li>
                <li><a href="/reports/view" class="nav-link">Xem</a></li>
                <li><a href="/export" class="nav-link">Xuất</a></li>
                <% } %>
                    <li><a href="/change-password" class="nav-link">Đổi mật khẩu</a></li>
                    <li><a href="/logout" class="logout-btn">Đăng xuất</a></li>
        </ul>
    </nav>

    <!-- Main Content Section -->
    <main>
        <section>
            <h2>Báo cáo của bạn</h2>
            <!-- Form to Add/Edit a Report -->

            <form id="reportForm" action="/reports/add" method="POST">
                <input type="hidden" id="reportId" name="reportId">
                <label for="reportingUnit">Đơn vị:</label>
                <input type="text" id="reportingUnit" name="reportingUnit" value="<%= user.name %>" <%=user.role
                    !=='admin' ? 'readonly' : '' %> required>
                <label for="month">Tháng:</label>
                <input type="number" id="monthin" name="month" min="1" max="12" value="<%= new Date().getMonth() + 1 %>"
                    required>

                <label for="year">Năm:</label>
                <input type="number" id="yearin" name="year" min="2000" max="2100"
                    value="<%= new Date().getFullYear() %>" required>

                <label for="totalVisits">Tổng lượt KCB:</label>
                <input type="number" id="totalVisits" name="totalVisits" required>

                <label for="childrenUnder14">Trẻ em dưới 14 tuổi:</label>
                <input type="number" id="childrenUnder14" name="childrenUnder14" required>

                <label for="visitsWithIDExcludingChildren">Khám có CCCD (Không bao gồm trẻ em):</label>
                <input type="number" id="visitsWithIDExcludingChildren" name="visitsWithIDExcludingChildren" required>

                <label for="birthCertificate">Giấy chứng sinh:</label>
                <input type="number" id="birthCertificate" name="birthCertificate" required>

                <label for="deathCertificate">Giấy chứng tử:</label>
                <input type="number" id="deathCertificate" name="deathCertificate" required>

                <button type="submit">Lưu thông tin</button>
            </form>
        </section>

        <!-- List of Reports -->
        <section>
            <h2>Danh sách báo cáo</h2>
            <div id="modificationDetails" style="margin-top: 20px;">
                <h3>Chi tiết sửa đổi:</h3>
                <p id="modifiedBy"></p>
                <p id="modifiedAt"></p>
                <ul id="modificationFields"></ul>
            </div>
            <ul class="report-list">
                <% reports.forEach(report=> { %>
                    <li>
                        <strong>Đơn Vị:</strong>
                        <%= report.reportingUnit %> |
                            <strong>Tháng:</strong>
                            <%= report.month %> |
                                <strong>Năm:</strong>
                                <%= report.year %> |
                                    <strong>Tổng:</strong>
                                    <%= report.totalVisits %> |
                                        <strong>CCCD:</strong>
                                        <%= report.visitsWithIDExcludingChildren %> |
                                            <strong>Dưới 14:</strong>
                                            <%= report.childrenUnder14 %> |
                                                <strong>Tỉ lệ:</strong>
                                                <%= report.percentage %> %|
                                                    <strong>Sửa:</strong>
                                                    <%= report.modifications.length %> |
                                                        <% if (user.role==='admin' ) { %>
                                                            <strong>Thông tin:</strong>
                                                            <strong>Sửa:</strong>
                                                            <select id="modifications" name="modifications"
                                                                onchange="showModificationDetails(this)">
                                                                <% if (report.modifications.length===0) { %>
                                                                    <option value="" selected>Không có sửa đổi</option>
                                                                    <!-- Hiển thị "Không có sửa đổi" và chọn mặc định -->
                                                                    <% } else { %>
                                                                        <option value="" selected>Chọn sửa đổi</option>
                                                                        <!-- Luôn luôn chọn "Chọn sửa đổi" nếu có sửa đổi -->
                                                                        <% report.modifications.forEach((mod)=> { %>
                                                                            <option value="<%= mod._id %>">
                                                                                <%= mod.modifiedBy ?
                                                                                    mod.modifiedBy.username
                                                                                    : 'Unknown User' %> |
                                                                                    <%= mod.modifiedAt ? new
                                                                                        Date(mod.modifiedAt).toLocaleString()
                                                                                        : 'Unknown Date' %>
                                                                            </option>
                                                                            <% }) %>
                                                                                <% } %>
                                                            </select>




                                                            <% } %>

                                                                <!-- Edit Button -->
                                                                <button class="edit-btn"
                                                                    onclick="populateForm('<%= report._id %>', '<%= report.reportingUnit %>', '<%= report.month %>', '<%= report.year %>', '<%= report.totalVisits %>', '<%= report.childrenUnder14 %>', '<%= report.visitsWithIDExcludingChildren %>', '<%= report.birthCertificate %>', '<%= report.deathCertificate %>')">
                                                                    Sửa
                                                                </button>

                                                                <!-- Delete Button (Admin Only) -->
                                                                <% if (user.role==='admin' ) { %>
                                                                    <button class="btn btn-danger"
                                                                        onclick="deleteReport('<%= report._id %>')">Xóa</button>
                                                                    <% } %>

                    </li>
                    <% }) %>
            </ul>
        </section>
    </main>

    <!-- Change Password Link -->
    <footer>
        <p>
            <a href="/change-password" style="color: blue; text-decoration: underline;">Thay đổi mật khẩu</a>
        </p>
        <a href="/logout" class="logout-btn">Đăng xuất</a>
    </footer>


    <script>
        // Hàm để hiển thị chi tiết sửa đổi khi người dùng chọn một mục
        function showModificationDetails(selectElement) {
            const modificationId = selectElement.value;
            if (modificationId) {
                // Gửi yêu cầu AJAX để lấy thông tin chi tiết về sửa đổi
                fetch(`/reports/view-modification/${modificationId}`)
                    .then(response => {
                        // Kiểm tra xem mã trạng thái HTTP có phải là 200 không
                        if (!response.ok) {
                            throw new Error(`Error: ${response.statusText}`);
                        }

                        // Kiểm tra xem Content-Type có phải là JSON không
                        const contentType = response.headers.get("Content-Type");

                        if (contentType && contentType.includes("application/json")) {
                            // Nếu là JSON, chuyển đổi phản hồi thành JSON
                            return response.json();
                        } else {
                            // Nếu không phải JSON, trả về lỗi
                            throw new Error("Response is not in JSON format");
                        }
                    })
                    .then(data => {
                        // Xử lý dữ liệu JSON nếu có
                        if (data.error) {
                            alert(data.error);  // Hiển thị thông báo lỗi từ server
                        } else {
                            // Xử lý dữ liệu sửa đổi nếu không có lỗi
                            document.getElementById('modifiedBy').innerText = `Người sửa: ${data.modifiedBy}`;
                            document.getElementById('modifiedAt').innerText = `Thời gian sửa: ${new Date(data.modifiedAt).toLocaleString()}`;

                            const modificationFields = document.getElementById('modificationFields');
                            modificationFields.innerHTML = '';  // Xóa danh sách cũ

                            // Kiểm tra xem có dữ liệu sửa đổi không và xử lý
                            if (data.modificationsDetails && data.modificationsDetails.length > 0) {
                                data.modificationsDetails.forEach(detail => {
                                    const li = document.createElement('li');
                                    li.textContent = `${detail.field}: ${detail.oldValue} => ${detail.newValue}`;
                                    modificationFields.appendChild(li);
                                });
                            } else {
                                // Nếu không có sửa đổi thực sự, hiển thị thông báo
                                modificationFields.innerHTML = '<li>Không có thay đổi thực sự.</li>';
                            }
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching modification details:', error);
                        alert('Không thể tải thông tin sửa đổi: ' + error.message);
                    });



            }
        }
    </script>
    <script>
        // JavaScript for handling edit and delete actions
        function deleteReport(reportId) {
            fetch(`/reports/delete/${reportId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                credentials: 'same-origin' // Ensure session cookies are sent
            })
                .then(response => {
                    if (response.ok) {
                        alert('Report deleted successfully');
                        window.location.href = '/dashboard'; // Redirect to dashboard after successful deletion
                    } else {
                        return response.text().then(text => { throw new Error(text) });
                    }
                })
                .catch(error => {
                    alert('Error: ' + error.message);
                });
        }

        // Populate form with report data for editing
        function populateForm(id, reportingUnit, month, year, totalVisits, childrenUnder14, visitsWithIDExcludingChildren, birthCertificate, deathCertificate) {
            document.getElementById('reportId').value = id;
            document.getElementById('reportingUnit').value = reportingUnit;
            document.getElementById('monthin').value = month;
            document.getElementById('yearin').value = year;
            document.getElementById('totalVisits').value = totalVisits;
            document.getElementById('childrenUnder14').value = childrenUnder14;
            document.getElementById('visitsWithIDExcludingChildren').value = visitsWithIDExcludingChildren;
            document.getElementById('birthCertificate').value = birthCertificate;
            document.getElementById('deathCertificate').value = deathCertificate;

            // Change the form's action to edit with the specific report ID
            document.getElementById('reportForm').action = '/reports/edit/' + id;
        }
    </script>

</body>

</html>