<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
    <link rel="stylesheet" href="/css/dashboard.css">


<body>
    <header>
        <h1>Welcome, <%= user.name %>
        </h1>
        <% if (user.role==='admin' ) { %>
            <p>Role: <%= user.role %>
            </p>
            <% } %>

    </header>

    <!-- Dashboard Menu -->
    <nav>
        <ul>
            <li><a href="/dashboard" class="nav-link">Trang chủ</a></li>
            <% if (user.role==='admin' ) { %>
                <li><a href="/add-user" class="nav-link">Thêm User</a></li>
                <% } %>
                    <li class="reports-menu">
                        <a href="#" class="nav-link">Báo Cáo</a>
                        <ul class="sub-menu">
                            <li><a href="/reports/view" class="nav-link">Báo Cáo Tháng</a></li>
                            <li><a href="/reports/aggregated" class="nav-link">Báo Cáo Tổng Hợp</a></li>
                        </ul>
                    </li>
                    <li><a href="/user/change-password" class="nav-link">Đổi mật khẩu</a></li>
                    <li><a href="/logout" class="logout-btn">Đăng xuất</a></li>
        </ul>
    </nav>

    <!-- Main Content Section -->
    <main>
        <section>
            <h2>Báo cáo của bạn</h2>
            <!-- Form to Add/Edit a Report -->

            <form id="reportForm" action="/reports/add" method="POST">
                <input type="hidden" id="reportId" name="reportId">
                <div class="form-colum">
                    <div class="form-row">
                        <div class="form-group">
                            <label for="reportingUnit">Đơn vị:</label>
                            <input type="text" id="reportingUnit" name="reportingUnit" value="<%= user.name %>"
                                <%=user.role !=='admin' ? 'readonly' : '' %> required>
                        </div>
                        <div class="form-group">
                            <label for="month">Tháng:</label>
                            <input type="number" id="monthin" name="month" min="1" max="12"
                                value="<%= new Date().getMonth() + 1 %>" required>
                        </div>

                        <div class="form-group">
                            <label for="year">Năm:</label>
                            <input type="number" id="yearin" name="year" min="2000" max="2100"
                                value="<%= new Date().getFullYear() %>" required>
                        </div>
                        <div class="form-group">
                            <label for="totalVisits">Tổng lượt KCB:</label>
                            <input type="number" id="totalVisits" name="totalVisits" required>
                        </div>

                        <div class="form-group">
                            <label for="visitsWithIDExcludingChildren">Khám có CCCD:</label>
                            <input type="number" id="visitsWithIDExcludingChildren" name="visitsWithIDExcludingChildren"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="childrenUnder14">Trẻ dưới 14 tuổi:</label>
                            <input type="number" id="childrenUnder14" name="childrenUnder14" required>
                        </div>

                        <div class="form-group">
                            <label for="birthCertificate">Giấy chứng sinh:</label>
                            <input type="number" id="birthCertificate" name="birthCertificate" required>
                        </div>

                        <div class="form-group">
                            <label for="deathCertificate">Giấy chứng tử:</label>
                            <input type="number" id="deathCertificate" name="deathCertificate" required>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit">Lưu thông tin</button>
                    </div>
                </div>
            </form>
            <section>
                <h2>Tải lên tệp Excel</h2>
                <!-- Form to Upload the Excel File -->
                <form id="uploadForm" action="/reports/upload" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="excelFile">Choose Excel File:</label>
                    </div>
                    <div class="form-group">
                        <input type="file" id="excelFile" name="excelFile" accept=".xlsx, .xls" required><br><br>
                    </div>
                    <div class="form-actions">
                        <button type="submit">Tải lên và Phân tích</button>
                    </div>
                </form>
            </section>

            <dialog id="editDialog">
                <h2>Sửa đổi</h2>
                <form id="editForm" method="POST">
                    <input type="hidden" id="editReportId" name="reportId">

                    <div class="form-group">
                        <label for="editReportingUnit">Đơn vị:</label>
                        <input type="text" id="editReportingUnit" name="reportingUnit" required>
                    </div>

                    <div class="form-group">
                        <label for="editMonth">Tháng:</label>
                        <input type="number" id="editMonth" name="month" min="1" max="12" required>
                    </div>

                    <div class="form-group">
                        <label for="editYear">Năm:</label>
                        <input type="number" id="editYear" name="year" min="2000" max="2100" required>
                    </div>

                    <div class="form-group">
                        <label for="editTotalVisits">Tổng lượt KCB:</label>
                        <input type="number" id="editTotalVisits" name="totalVisits" required>
                    </div>

                    <div class="form-group">
                        <label for="editVisitsWithIDExcludingChildren">Khám có CCCD:</label>
                        <input type="number" id="editVisitsWithIDExcludingChildren" name="visitsWithIDExcludingChildren"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="editChildrenUnder14">Trẻ dưới 14 tuổi:</label>
                        <input type="number" id="editChildrenUnder14" name="childrenUnder14" required>
                    </div>

                    <div class="form-group">
                        <label for="editBirthCertificate">Giấy chứng sinh:</label>
                        <input type="number" id="editBirthCertificate" name="birthCertificate" required>
                    </div>

                    <div class="form-group">
                        <label for="editDeathCertificate">Giấy chứng tử:</label>
                        <input type="number" id="editDeathCertificate" name="deathCertificate" required>
                    </div>

                    <div class="dialog-actions">
                        <button type="submit">Lưu</button>
                        <button type="button" onclick="closeDialog()">Hủy</button>
                    </div>
                </form>
            </dialog>


        </section>

        <!-- List of Reports -->
        <section>
            <h2>Danh sách báo cáo</h2>
            <!-- Hộp thoại chi tiết sửa đổi -->
            <dialog id="editDialog1">
                <div id="modificationDetails" style="margin-top: 20px;">
                    <h2>Chi tiết sửa đổi:</h2>
                    <p id="modifiedBy"></p>
                    <p id="modifiedAt"></p>
                    <ul id="modificationFields"></ul>
                    <button id="closeDialog1">Đóng</button>
                </div>
            </dialog>
            <!-- Hộp thoại thông báo lỗi -->
            <dialog id="errDialog">
                <div id="modificationDetails">
                    <i class="fas fa-exclamation-triangle" style="color: red; font-size: 30px;"></i>
                    <h2>🔔 Thông Báo Lỗi:</h2>
                    <p id="error"></p>
                    <button id="closeDialog">Đóng</button>
                </div>
            </dialog>
            <dialog id="successfullyDialog">
                <div class="notification">
                    <h2>🔔 Thông Báo:</h2>
                    <p id="notificationSS">Không có lỗi nào!</p>
                    <button id="closeDialogSS">Đóng</button>
                </div>
            </dialog>

            <dialog id="confirmDialog">
                <p>Bạn có chắc chắn muốn xóa báo cáo này không?</p>
                <button id="confirmYes">Xóa</button>
                <button id="confirmNo">Không</button>
            </dialog>
            <!-- Search Bar -->
            <div class="search-container">
                <label for="searchReports" class="search-label">Tìm kiếm báo cáo:</label>
                <input type="text" id="searchReports" class="search-input" placeholder="Nhập thông tin để tìm kiếm..."
                    onkeyup="filterReports()" />
            </div>

            <!-- Report List -->
            <div class="report-container">
                <ul class="report-list" id="reportList">
                    <% reports.forEach(report=> { %>
                        <li class="report-item">

                            <!-- Thông tin báo cáo -->
                            <div class="report-info">
                                <strong>Đơn Vị:</strong>
                                <%= report.reportingUnit %> |
                                    <strong>Tháng:</strong>
                                    <%= report.month %> |
                                        <strong>Năm:</strong>
                                        <%= report.year %> |
                                            <strong>Tổng:</strong>
                                            <%= report.totalVisits %> |
                                                <strong>CCCD:</strong>
                                                <%= report.visitsWithIDExcludingChildren %> |
                                                    <strong>Dưới 14:</strong>
                                                    <%= report.childrenUnder14 %> |
                                                        <strong>Tỉ lệ:</strong>
                                                        <%= report.percentage %> %|
                                                            <strong>Sửa:</strong>
                                                            <%= report.modifications.length %> |
                                                                <% if (user.role==='admin' ) { %>
                                                                    <strong>Thông tin:</strong>
                                                                    <select id="modifications" name="modifications"
                                                                        onchange="showModificationDetails(this)">
                                                                        <% if (report.modifications.length===0) { %>
                                                                            <option value="" selected></option>
                                                                            <!-- Hiển thị "Không có sửa đổi" và chọn mặc định -->
                                                                            <% } else { %>
                                                                                <option value="" selected>Chọn
                                                                                    sửa đổi
                                                                                </option>
                                                                                <% report.modifications.forEach((mod)=>
                                                                                    { %>
                                                                                    <option value="<%= mod._id %>">
                                                                                        <%= mod.modifiedBy ?
                                                                                            mod.modifiedBy.username
                                                                                            : 'Unknown User' %>
                                                                                            |
                                                                                            <%= mod.modifiedAt ? new
                                                                                                Date(mod.modifiedAt).toLocaleString()
                                                                                                : 'Unknown Date' %>
                                                                                    </option>
                                                                                    <% }) %>
                                                                                        <% } %>
                                                                    </select>

                                                                    <% } %>

                            </div>
                            <div class="action-buttons">
                                <!-- Edit Button -->
                                <button class="edit-btn"
                                    onclick="openEditDialog('<%= report._id %>', '<%= report.reportingUnit %>', '<%= report.month %>', '<%= report.year %>', '<%= report.totalVisits %>', '<%= report.childrenUnder14 %>', '<%= report.visitsWithIDExcludingChildren %>', '<%= report.birthCertificate %>', '<%= report.deathCertificate %>')">
                                    Sửa
                                </button>


                                <!-- Delete Button (Admin Only) -->
                                <% if (user.role==='admin' ) { %>
                                    <button class="btn btn-danger"
                                        onclick="deleteReport('<%= report._id %>')">Xóa</button>
                                    <% } %>
                            </div>
                        </li>
                        <% }) %>
                </ul>
            </div>
        </section>

    </main>

    <!-- Change Password Link -->
    <footer>
        <p>© 2025 PHUOCNH. Tất cả các quyền được bảo lưu.</p>
        <p>Được phát triển bởi <a href="https://phuocnguyen.online" target="_blank">PHUOCNH</a>.</p>
    </footer>
    <script src="../js/dashboard.js"></script>

</body>

</html>